<!DOCTYPE html>
<!-- Объявление типа документа -->
<html lang="en">
<!-- Начало HTML-документа, атрибут lang указывает на язык страницы (английский) -->
<head>
    <!-- Заголовок документа и метаданные -->
    <meta charset="UTF-8">
    <!-- Установка кодировки символов -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Указание браузеру использовать последнюю доступную версию движка рендеринга -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Настройка просмотра на мобильных устройствах -->
    <title>ToDo App</title>
    <!-- Заголовок страницы -->
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
    <!-- Подключение внешнего файла стилей CSS -->
</head>
<body>
    <!-- Тело документа -->
    <main>
        <!-- Основное содержимое -->
        <h1 style="text-align: center;">ToDo - список задач</h1>
        <!-- Заголовок первого уровня -->
        <br>
        <!-- Перенос строки -->
        {% block content %}
        <!-- Начало блока контента (шаблонный код) -->

        {% endblock content %}
        <!-- Конец блока контента (шаблонный код) -->
    </main>
</body>
</html>
<!-- Конец HTML-документа -->
