{% extends 'base.html' %}
<!-- Расширение базового шаблона 'base.html' -->

{% block content %}
<!-- Определение блока контента 'content' -->

{% block link %}
<!-- Определение внутреннего блока 'link' -->
<link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">
<!-- Подключение внешнего файла стилей CSS -->
{% endblock link %}

    <form action="/edit/{{todo.id}}" method="post" enctype="multipart/form-data">
        <!-- Форма для редактирования задачи, атрибут action указывает URL для обработки формы -->

        <div class="task">
        <!-- Контейнер для задачи -->
        <h2>Заголовок задачи</h2>
        <!-- Заголовок второго уровня -->
        </div>

        <textarea name="task" rows="5">{{todo.task}}</textarea>
        <!-- Текстовое поле для ввода задачи, значение задачи задается переменной 'todo.task' -->

        <label for="completed">Выполнено?</label>
        <!-- Метка для флажка 'completed' -->
        <input type="checkbox" name="completed" {% if todo.completed %}checked{% endif %}>
        <!-- Флажок для обозначения выполнения задачи, его состояние определяется переменной 'todo.completed' -->

        <select name="tag">
        <!-- Выпадающий список для выбора тега -->
            {% for tag in tags %}
            <!-- Цикл для перебора доступных тегов -->
                <option {% if todo.tag == tag.value %}selected{% endif %} value={{ tag.value }}> {{ tag.value }}  </option>
                <!-- Опции списка выбора тега, текущий выбранный тег определяется переменными 'todo.tag' и 'tag.value' -->
            {% endfor %}
            <!-- Завершение цикла для перебора тегов -->
        </select>

       <div class="get-file">
           <!-- Контейнер для получения файла -->
           <label for="file">Файл:</label>
           <!-- Метка для поля выбора файла -->
           <input type="file" name="file" id="file">
           <!-- Поле выбора файла -->
       </div>
        <!-- Завершение контейнера для получения файла -->

        </select>
        <!-- Завершение выпадающего списка тегов -->

        <button type="submit">Сохранить</button>
        <!-- Кнопка отправки формы -->
    </form>
    <!-- Завершение формы -->
{% endblock content %}
<!-- Завершение блока контента -->
