{% extends 'base.html' %}

{% block content %}

    <form action="/add" method="post" onsubmit="return validateTaskForm()">
        <textarea name="task" id="task-input" rows="5" placeholder="Введите задачу" onchange="toggleAddButton()" required></textarea>
        <div style="display: flex; align-items: center;">
            <select name="tag" style="height: 40px;">
                <option value="Планы">Планы</option>
                <option value="Учёба">Учёба</option>
                <option value="Личное">Личное</option>
            </select>
            <input type="file" id="file" style="display: none;">
            <button type="button" onclick="document.querySelector('input[type=file]').click()">Выбрать файл</button>
            <button type="submit" id="add-button" disabled>Добавить</button>
        </div>
        <span id="error-message" style="display: none; color: red;">Текст не может быть пустым.</span>
    </form>
    <script>
        function toggleAddButton() {
            var taskInput = document.getElementById('task-input');
            var addButton = document.getElementById('add-button');

            if (taskInput.value.trim() !== '') {
                addButton.disabled = false;
            } else {
                addButton.disabled = true;
            }
        }
    </script>


<br>
<h2>Задачи</h2>

<div>
    {% for todo in todos %}
        <div class="task">
            {% if todo.completed %}
                <strike>{{ todo.task }}</strike>
            {% else %}
                {{ todo.task }}
            {% endif %}
            <small>
                <a href="edit/{{ todo.id }}">Редактировать</a>
                <a href="delete/{{ todo.id }}">Удалить</a>
            </small>
        </div>
    {% endfor %}
</div>

<div>
Страницы:
    {% for i in range(pages) %}
        <a rel={{ i }} {% if i == page %}style="color:red;"{% endif %}
        href="/?limit={{ limit }}&skip={{ i }}">{{ i }}</a>
    {% endfor %}
</div>

<div class="search" style="margin-top: 20px;">
    <summary>Искать по тексту:</summary>
    <form action="/search" method="post" style="width: 100%;" onsubmit="return validateSearchForm()">
        <input type="text" id="search-input" name="query" placeholder="Введите строку для поиска" style="width: 84%;" onchange="toggleSearchButton()" required>
        <input type="submit" id="search-button" value="Поиск" style="width: 15%;" disabled>
    </form>
</div>
<script>
    function toggleSearchButton() {
        var searchInput = document.getElementById('search-input');
        var searchButton = document.getElementById('search-button');

        if (searchInput.value.trim() !== '') {
            searchButton.disabled = false;
        } else {
            searchButton.disabled = true;
        }
    }
</script>

<div class="search_date" style="margin-top: 5px;">
    <summary>Искать по дате:</summary>
    <form action="/search_date" method="post" onsubmit="return validateDateSearchForm()">
        <input type="date" id="date-input" name="query" style="width: 84%;" onchange="toggleDateSearchButton()" required>
        <input type="submit" id="date-search-button" value="Поиск" style="width: 15%;" disabled>
    </form>
</div>
<script>
    function toggleDateSearchButton() {
        var dateInput = document.getElementById('date-input');
        var dateSearchButton = document.getElementById('date-search-button');

        if (dateInput.value.trim() !== '') {
            dateSearchButton.disabled = false;
        } else {
            dateSearchButton.disabled = true;
        }
    }
</script>

<div class="search_tag" style="margin-top: 5px; display: flex;">
    <summary style="flex-grow: 1;">Искать по тэгу:</summary>
    <form action="/search_tag" method="post" style="display: flex; flex-grow: 2;">
        <input type="submit" name="query" value="Планы" style="flex-grow: 1;">
        <input type="submit" name="query" value="Учёба" style="flex-grow: 1;">
        <input type="submit" name="query" value="Личное" style="flex-grow: 1;">
    </form>
</div>

{% endblock content %}