{% extends 'base.html' %}
<!-- Расширение базового шаблона 'base.html' -->

{% block content %}
<!-- Определение блока контента 'content' -->

    {% if search_results %}
    <!-- Проверка наличия результатов поиска -->
        <div class="ref-page">
        <!-- Контейнер для страницы с результатами поиска -->
            <h2>Результаты поиска</h2>
            <!-- Заголовок второго уровня -->
            <br>
            <!-- Перенос строки -->
            {% for todo in tod %}
            <!-- Цикл для перебора задач в результате поиска -->
                <div class="task">
                <!-- Контейнер для задачи -->
                    {{ todo.task }}
                    <!-- Вывод задачи -->
                </div>
                <!-- Завершение контейнера для задачи -->
            {% endfor %}
            <!-- Завершение цикла для перебора задач -->
        </div>
        <!-- Завершение контейнера для страницы с результатами поиска -->
    {% else %}
    <!-- В случае отсутствия результатов поиска -->
        <div class="not-found">
        <!-- Контейнер для страницы без результатов поиска -->
            <h2>Результаты поиска</h2>
            <!-- Заголовок второго уровня -->
            <br>
            <!-- Перенос строки -->
            <p>Ничего не найдено.</p>
            <!-- Текстовое сообщение о том, что ничего не найдено -->
        </div>
        <!-- Завершение контейнера для страницы без результатов поиска -->
    {% endif %}
    <!-- Завершение условной конструкции проверки наличия результатов поиска -->
{% endblock content %}
<!-- Завершение блока контента -->